body {
    background-color: #121212;
    color: #ffffff;
  }
  
  .container {
    max-width: 800px;
  }
  
  h1, h3 {
    color: #ffffff;
  }
  
  .list-group-item {
    font-size: 1rem;
    cursor: default;
    border: none;
    background-color: #343a40;
  }
  
  .btn-primary {
    background-color: #1f8ef1;
    border: none;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
  }
  
  .form-check-label {
    cursor: pointer;
  }
  
  .game-details span {
    margin-left: 15px;
  }
  
  .progress {
    height: 20px;
    background-color: #6c757d;
  }
  
  .progress-bar {
    background-color: #28a745;
    transition: width 0.6s ease;
  }
  
  @media (max-width: 576px) {
    .game-details {
      display: block;
      margin-top: 10px;
    }
  
    .game-details span {
      display: block;
      margin-left: 0;
      margin-top: 5px;
    }
  }
  